page {
font-family: arial, "lucida console", sans-serif;
}

description{
padding:0;
margin:0 0 0 1px;
white-space:pre-line;
}

label{
padding:0;
margin:0;
}

button{
padding:2px 0px 2px 0px;
margin: 2px 0px;
}

description.q{
	font-size:1.1em;
	margin-left:2px;
	margin-top:7px;
	margin-bottom:1px;
}

description.head{
	font-weight:bold;
}

vbox.top{
	padding:5px;
	}
hbox.ep{
	padding:5px;
	border-top:2px solid #999;
}